<h1 style="text-align: center; font-family: Arial, Helvetica;">
    Confirm Account
  </h1>
  <p style="font-family: Arial, Helvetica;">
    Hello, you are one step away from starting to create a new Meetings
    community, you just have to confirm your account at the following link:
  </p>
  <a
    style="
        display: block;
        font-family: Arial, Helvetica;
        padding: 1rem;
        background-color: #00C897;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;"
    href="<%= url %>"
  >
    Confirm your account
  </a>
  <p style="font-family: Arial, Helvetica;">
    If you cannot access this link, please visit: <%= url %>
  </p>
  <p style="font-family: Arial, Helvetica;">
    If you did not request this email, you can ignore it.
  </p>